{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row text-center" style="margin-top: 20px;">
        <div class="col">
            <h2>Server Status</h2>
            <div class="row">
                <a href="https://www.gametracker.com/server_info/185.38.148.172:27105/" target="_blank"><img src="https://cache.gametracker.com/server_info/185.38.148.172:27105/b_350_20_ffd1dc_d1fff4_000000_000000.png" border="0" width="350" height="20" alt=""/></a>
            </div>
            <div class="row">
                <a href="https://www.gametracker.com/server_info/195.206.181.20:25596/" target="_blank"><img src="https://cache.gametracker.com/server_info/195.206.181.20:25596/b_350_20_ffd1dc_d1fff4_000000_111111.png" border="0" width="350" height="20" alt=""/></a>
            </div>
        </div>
    </div>
{% endblock %}