{% extends "base-bootstrap.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>SazuuDog</h1>
            <p class="lead text-muted">{{ about_me }}</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">   
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Streaming</h5>
                            <p class="card-text">
                                I stream Mondays, Wednesdays and Fridays on twitch! You can find my Twitch link
                                <a href="{% url 'links' %}">here.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Server</h5>
                            <p class="card-text">GMOD Server & Minecraft Server.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">My PC Specs</h5>
                            <p class="card-text">i5 and that.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Some other stuff</h5>
                            <p class="card-text">Hi there.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}