<!-- GeoData base.html -->
{% extends 'base-bootstrap.html' %}

{% block title %}Sazuu's Links!{% endblock %}

{% block content %}

    <div class="row" style="padding-top: 50px">
        <div class="col text-center">
            <h3>Sazuu's Links &#128150;</h3>
            {% if link_list %}
                {% for link in link_list %}
                    {% if link.display %}
                        <div class="row">
                            <a href="{{ link.url }}" class="custom-card">
                                <div class="card" style="width: 15rem; display: inline-block; margin-top: 15px">
                                    <div class="card-body">
                                        <h5 class="card-title">&#{{ link.icon }}; {{ link.service }}</h5>
                                        <p class="card-text">{{ link.username }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No links available &#128532;</p>
            {% endif %}
        </div>
    </div>
    <style>
        a.custom-card,
        a.custom-card:hover {
        color: inherit;
        }

        .card{
            border-radius: 4px;
            background: #fff;
            box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
            transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
            cursor: pointer;
        }

        .card:hover{
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }
    </style>

{% endblock %}